@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
    margin: 0%;
    padding: 0%;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.63), 
          rgba(0, 0, 0, 0.63)
        ),
        /* bottom, image */
        url(images/Background.png);
        /* color(11,10,31); */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-size:100vw 100vh; /* Makes the background image cover the entire container */
    /* background-position: center; Centers the background image */
}


.navBar {
    font-family: 'JetBrains Mono', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000005e;
    color: white;
    padding: 10px;
}

.navBar img {
    margin-right: 20px;
}

.navBar h1 {
    margin: 0;
    font-size: 24px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 220px;
    }
}


.DNA{
    scale: .5;
    transform-origin: 90% -10%;
}